p cnf 74 74
λ_Cancer_False λ_Cancer_True 0
λ_Dyspnoea_False λ_Dyspnoea_True 0
λ_Pollution_high λ_Pollution_low 0
λ_Smoker_False λ_Smoker_True 0
λ_Xray_negative λ_Xray_positive 0
Θ_Pollution_high ~λ_Pollution_high 0
Θ_Pollution_low ~λ_Pollution_low 0
Θ_Smoker_False ~λ_Smoker_False 0
Θ_Smoker_True ~λ_Smoker_True 0
λ_Cancer_False ~Θ_Cancer_False|Smoker_False;Pollution_high 0
λ_Cancer_False ~Θ_Cancer_False|Smoker_False;Pollution_low 0
λ_Cancer_False ~Θ_Cancer_False|Smoker_True;Pollution_high 0
λ_Cancer_False ~Θ_Cancer_False|Smoker_True;Pollution_low 0
λ_Cancer_False ~Θ_Dyspnoea_False|Cancer_False 0
λ_Cancer_False ~Θ_Dyspnoea_True|Cancer_False 0
λ_Cancer_False ~Θ_Xray_negative|Cancer_False 0
λ_Cancer_False ~Θ_Xray_positive|Cancer_False 0
λ_Cancer_True ~Θ_Cancer_True|Smoker_False;Pollution_high 0
λ_Cancer_True ~Θ_Cancer_True|Smoker_False;Pollution_low 0
λ_Cancer_True ~Θ_Cancer_True|Smoker_True;Pollution_high 0
λ_Cancer_True ~Θ_Cancer_True|Smoker_True;Pollution_low 0
λ_Cancer_True ~Θ_Dyspnoea_False|Cancer_True 0
λ_Cancer_True ~Θ_Dyspnoea_True|Cancer_True 0
λ_Cancer_True ~Θ_Xray_negative|Cancer_True 0
λ_Cancer_True ~Θ_Xray_positive|Cancer_True 0
λ_Dyspnoea_False ~Θ_Dyspnoea_False|Cancer_False 0
λ_Dyspnoea_False ~Θ_Dyspnoea_False|Cancer_True 0
λ_Dyspnoea_True ~Θ_Dyspnoea_True|Cancer_False 0
λ_Dyspnoea_True ~Θ_Dyspnoea_True|Cancer_True 0
λ_Pollution_high ~Θ_Cancer_False|Smoker_False;Pollution_high 0
λ_Pollution_high ~Θ_Cancer_False|Smoker_True;Pollution_high 0
λ_Pollution_high ~Θ_Cancer_True|Smoker_False;Pollution_high 0
λ_Pollution_high ~Θ_Cancer_True|Smoker_True;Pollution_high 0
λ_Pollution_high ~Θ_Pollution_high 0
λ_Pollution_low ~Θ_Cancer_False|Smoker_False;Pollution_low 0
λ_Pollution_low ~Θ_Cancer_False|Smoker_True;Pollution_low 0
λ_Pollution_low ~Θ_Cancer_True|Smoker_False;Pollution_low 0
λ_Pollution_low ~Θ_Cancer_True|Smoker_True;Pollution_low 0
λ_Pollution_low ~Θ_Pollution_low 0
λ_Smoker_False ~Θ_Cancer_False|Smoker_False;Pollution_high 0
λ_Smoker_False ~Θ_Cancer_False|Smoker_False;Pollution_low 0
λ_Smoker_False ~Θ_Cancer_True|Smoker_False;Pollution_high 0
λ_Smoker_False ~Θ_Cancer_True|Smoker_False;Pollution_low 0
λ_Smoker_False ~Θ_Smoker_False 0
λ_Smoker_True ~Θ_Cancer_False|Smoker_True;Pollution_high 0
λ_Smoker_True ~Θ_Cancer_False|Smoker_True;Pollution_low 0
λ_Smoker_True ~Θ_Cancer_True|Smoker_True;Pollution_high 0
λ_Smoker_True ~Θ_Cancer_True|Smoker_True;Pollution_low 0
λ_Smoker_True ~Θ_Smoker_True 0
λ_Xray_negative ~Θ_Xray_negative|Cancer_False 0
λ_Xray_negative ~Θ_Xray_negative|Cancer_True 0
λ_Xray_positive ~Θ_Xray_positive|Cancer_False 0
λ_Xray_positive ~Θ_Xray_positive|Cancer_True 0
~λ_Cancer_False ~λ_Cancer_True 0
~λ_Dyspnoea_False ~λ_Dyspnoea_True 0
~λ_Pollution_high ~λ_Pollution_low 0
~λ_Smoker_False ~λ_Smoker_True 0
~λ_Xray_negative ~λ_Xray_positive 0
Θ_Dyspnoea_False|Cancer_False ~λ_Cancer_False ~λ_Dyspnoea_False 0
Θ_Dyspnoea_False|Cancer_True ~λ_Cancer_True ~λ_Dyspnoea_False 0
Θ_Dyspnoea_True|Cancer_False ~λ_Cancer_False ~λ_Dyspnoea_True 0
Θ_Dyspnoea_True|Cancer_True ~λ_Cancer_True ~λ_Dyspnoea_True 0
Θ_Xray_negative|Cancer_False ~λ_Cancer_False ~λ_Xray_negative 0
Θ_Xray_negative|Cancer_True ~λ_Cancer_True ~λ_Xray_negative 0
Θ_Xray_positive|Cancer_False ~λ_Cancer_False ~λ_Xray_positive 0
Θ_Xray_positive|Cancer_True ~λ_Cancer_True ~λ_Xray_positive 0
Θ_Cancer_False|Smoker_False;Pollution_high ~λ_Cancer_False ~λ_Pollution_high ~λ_Smoker_False 0
Θ_Cancer_False|Smoker_False;Pollution_low ~λ_Cancer_False ~λ_Pollution_low ~λ_Smoker_False 0
Θ_Cancer_False|Smoker_True;Pollution_high ~λ_Cancer_False ~λ_Pollution_high ~λ_Smoker_True 0
Θ_Cancer_False|Smoker_True;Pollution_low ~λ_Cancer_False ~λ_Pollution_low ~λ_Smoker_True 0
Θ_Cancer_True|Smoker_False;Pollution_high ~λ_Cancer_True ~λ_Pollution_high ~λ_Smoker_False 0
Θ_Cancer_True|Smoker_False;Pollution_low ~λ_Cancer_True ~λ_Pollution_low ~λ_Smoker_False 0
Θ_Cancer_True|Smoker_True;Pollution_high ~λ_Cancer_True ~λ_Pollution_high ~λ_Smoker_True 0
Θ_Cancer_True|Smoker_True;Pollution_low ~λ_Cancer_True ~λ_Pollution_low ~λ_Smoker_True 0
